OPENROUTER_API_KEY=some-openrouter-key
LANGSMITH_API_KEY=some-langsmith-key

MEMORY__POSTGRES_DB=some_db
MEMORY__POSTGRES_PASSWORD=somepassword

GRAPH_DB__NEO4J_URI=bolt://localhost:7687
GRAPH_DB__NEO4J_USER=neo4j
GRAPH_DB__NEO4J_PASSWORD=password

